.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/assets/module/bundle.c
/assets/module/include/bundle.h
/lib/glad/include/glad/glad.h
/lib/glad/include/KHR/khrplatform.h
/lib/glad/src/glad.c
